.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

dapr1/dapr1book/_book/

dapr1/dapr1book/_bookdown_files/

multivar/msmrbook/_book/

multivar/msmrbook/_bookdown_files/

multivar/msmrbook/bookdown-demo.Rmd

dapr1/dapr1book/todo/_bookdown_files/

dapr1/dapr1book/todo/_book/

dapr2/_book/

dapr2/_bookdown_files/

*/_book/

*/_bookdown_files/

templates/template_book/_book/

templates/template_book/_bookdown_files/
