
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #48342E;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #DB3256;
}

a:hover
{
	text-decoration: none;
}

.container
{
	margin: 0px auto;
	width: 100%;
}

.containerdirs
{
	margin: auto;
	width: 100%;
    text-align: center;
    display:inline-block;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
{
	margin: 0;
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c
}

ul.style1 li
{
	overflow: hidden;
	display: block;
	padding: 2.80em 0em;
	border-top: 1px solid #D1CFCE;
}

ul.style1 li:first-child
{
	padding-top: 0;
	border-top: none;
}

ul.style1 .image-left
{
	margin-bottom: 0;
}

ul.style1 h3
{
	padding: 1.2em 0em 1em 0em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	color: #454445;
}

ul.style1 a
{
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover
{
	text-decoration: underline;
	color: #525252;
}

ul.style2
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0 0.80em 0;
	font-family: 0.80em;
}

ul.style2 li:before
{
	display: inline-block;
	padding: 4px;
	background: #DB3256;
}

ul.style2 a
{
	display: inline-block;
	margin-left: 1em;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style2 .icon
{
	color: #FFF;
}

ul.style3
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style3 li
{
	border-top: solid 1px rgba(255,255,255,.2);
	padding: 1em 0 1em 0;
	font-family: 0.80em;
}

ul.style3 li:before
{
	display: inline-block;
	padding: 4px;
	background: #FFF;
}

ul.style3 a
{
	display: inline-block;
	margin-left: 1em;
	font-size: 1em !important;
	color: #FFF;
}

ul.style3 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style3 .icon
{
	color: #DB3256;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{
	background: #FFF;
}

#header
{
	position: relative;
    display: inline-block;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
{
	position: relative;
	width: 100%;
    heigth: 100%
}

#logo h1
{
    margin-top: 20px;
	margin-left: 20px;
    margin-bottom: 20px;
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #404040;
}

#logo a
{
	text-decoration: none;
	color: #404040;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	right: 0;
	top: 0;
}

#menu ul
{
	display: block;
}

#menu li
{
	display: block;
	text-align: center;
}

#menu li a, #menu li span
{   
	display: block;
	margin-left: 0.50em;
	padding: 1em 1.5em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #2D2D2D;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
	background: #DB3256;
	color: #FFF;
}

#menu .icon
{
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
#banner-wrapper
{
	overflow: hidden;
	padding: 3em 0em;
	background: #ECECEC;
}

#banner
{
	text-align: center;
}

#banner h2
{
	margin: 0.3em;
	padding: 0em;
	font-weight: 400;
	font-size: 3em;
	color: #555555;
}

#banner span
{
	display: block;
	padding-top: 0.20em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #A2A2A2;
}

.bannerbox{
    position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height:  80px;
	text-align: left;
    background: #ffffff;
    border-bottom: 1px solid;
}
.bannerbox-dapr1{
    position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height:  80px;
	font-size: 2em;
	text-align: center;
	background: linear-gradient(90deg, #0F4C81 20%, #ffffff 20%);
    opacity: 0.8;
}
.bannerbox-dapr2{
    position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height:  80px;
	font-size: 2em;
	text-align: center;
    background: linear-gradient(90deg, #ffffff 20%, #BF1932 20% 40%, #ffffff 40%);
    opacity: 0.8;
}
.bannerbox-dapr3{
    position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height:  80px;
	font-size: 2em;
	text-align: center;
    background: linear-gradient(90deg, #ffffff 40%, #88B04B 40% 60%, #ffffff 60%);
    opacity: 0.8;
}
.bannerbox-usmr{
    position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height:  80px;
	font-size: 2em;
	text-align: center;
    background: linear-gradient(90deg, #ffffff 60%, #FCBB06 60% 80%, #ffffff 80%);
    opacity: 0.8;
}
.bannerbox-multivar{
    position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height:  80px;
	font-size: 2em;
	text-align: center;
    background: linear-gradient(90deg, #ffffff 80%, #a41ae4 80%);
    opacity: 0.8;
}


/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#wrapper
{
	background: #FFF;
}

#page
{
	overflow: hidden;
	padding: 3em 0em;
	border-bottom: 2px solid #E3E3E3;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
{
	float: left;
	width: 70%;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper
{
	overflow: hidden;
	padding: 2em 0em;
	background: #FFF;
	text-align: center;
    margin-left: 20px;
}

#featured
{
	overflow: hidden;
}

#featured .major
{
	overflow: hidden;
	margin-bottom: 3em;
	padding-bottom: 2em;
	border-bottom: 1px solid #E8E8E8;
}

#featured .major h2
{
	font-size: 3em;
}

#featured .major .byline
{
	font-size: 1.3em;
}

#featured .title
{
	margin-bottom: 1.2em;
	padding-bottom: 1.2em;
	border-bottom: 1px solid #E3E3E3;
}

#featured .title h2
{
	font-size: 1.2em;
}

#featured h2
{
	text-align: center;
}

#featured .icon
{
	position: relative;
	display: inline-block;
	width: 60%;
	padding-top: 60%;
	margin: 0px auto 20px auto;
	line-height:  80px;
	font-size: 2em;
	text-align: center;
	color: #FFF;
    opacity:1;
    transition-duration: 1s;
	transition-delay: .2s;
    transition-property: opacity;
}
#featured .icon:hover{
    opacity: 0.5;
}
#featured .icon-dapr1{
	background: #0F4C81;
    background-image: url("https://uoe-psychology.github.io/uoe_psystats/images/dapr1text.svg");
    background-size:100% 100%;
    background-size:cover;
}
#featured .icon-multivar{
	background: #a41ae4;
    background-image: url("https://uoe-psychology.github.io/uoe_psystats/images/multivartext.svg");
    background-size:100% 100%;
    background-size:cover;
}
#featured .icon-usmr{
	background: #FCBB06;
    background-image: url("https://uoe-psychology.github.io/uoe_psystats/images/usmrtext.svg");
    background-size:100% 100%;
    background-size:cover;
}
#featured .icon-dapr2{
	background: #BF1932;
    background-image: url("https://uoe-psychology.github.io/uoe_psystats/images/dapr2text.svg");
    background-size:100% 100%;
    background-size:cover;
}
#featured .icon-dapr3{
	background: #88B04B;
    background-image: url("https://uoe-psychology.github.io/uoe_psystats/images/dapr3text.svg");
    background-size:100% 100%;
    background-size:cover;
}

.icon-book{
    background-image: url("https://uoe-psychology.github.io/uoe_psystats/images/book.svg");
    background-size:100% 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-lectures{
    background-image: url("https://uoe-psychology.github.io/uoe_psystats/images/lectures.svg");
    background-size:100% 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.column1
{
	width: 15%;
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}
.column1 h2{
    width: 80%;
    text-align:center;
    margin: auto;
}

.description h3{
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;    
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
}


.description{
    margin-left: 100px; 
    margin-right: 100px; 
    margin-bottom: 50px;
}






#header-featured
{
		height: 30em;
		background-image: url(images/banner.jpg);
		background-position: center;
		background-size: cover;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer-wrapper
{
	overflow: hidden;
	padding: 3em 0em;
    margin-top: 10px;
	background: #DB3256;
}


#footer .title h2
{
	font-size: 1.4em;
	font-weight: 200;
	color: #FFF;
}


/*********************************************************************************/
/* Phone                                                                        */
/*********************************************************************************/


@media only screen and (max-width: 600px) {
    .column1
    {
        width: 40%;
    }
    #logo h1
    {
        font-size: 1.5em;
        margin-bottom: 0px;
	}
    #menu
    {
        position: relative;
    }
    #menu li
    {
        display: block;
        text-align: left;
    }
    #menu li a, #menu li span
    {
        margin-left: 20px;
        padding: .5em 0;
        font-size: 0.90em;
    }
    #banner-wrapper
    {
        padding: 1em 0em;
    }
    #banner h2
    {
        font-size: 1.5em;
    }
    .description h3{
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;    
        font-size: 1em;
        font-family: "Open Sans", sans-serif;
    }
    .description{
        margin-left: 15px; 
        margin-right: 15px; 
        margin-bottom: 25px;
    }

}
